// Colors
$dark-grey: #333333;
$blue: rgb(48, 144, 235);
$d-blue: #364051;
$white: white;
$alert: rgb(255, 0, 0);
// Font Size
$fsl: 1.8rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
